certifi==2018.4.16
chardet==3.0.4
falcon==1.4.1
idna==2.6
numpy==1.14.5
opencv-python==3.4.1.15
optionaldict==0.1.1
Pillow==5.1.0
pycrypto==2.6.1
python-dateutil==2.7.3
python-mimeparse==1.6.0
requests==2.18.4
six==1.11.0
urllib3==1.22
waitress==2.1.1
wechatpy==1.7.0
xmltodict==0.11.0
